.iconButton {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 5px;
  margin: 10px auto;
  text-decoration-line: underline;
  background-color: var(--color-primary);
  border-radius: 10px;
}
.iconButton:hover {
  background-color: var(--color-secondary-dark);
}
.iconButton:active {
  text-decoration: underline;
  transform: translate(3px, 3px);
  box-shadow: inset 3px 3px 3px var(--color-background-dark);
  background: var(--color-background);
}
.buttonShadow {
  box-shadow: 3px 3px 3px var(--color-primary-light);
}
.mainButton {
  background-color: var(--color-primary);
  border-radius: var(--border-radius-sm);
  margin: var(--spacing-sm) 0;
  padding: 0;
  border: none;
  cursor: pointer;
  color: var(--color-secondary);
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settingButton {
  text-decoration: none;
  border-radius: var(--border-radius-sm);
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-xs);
  padding: var(--spacing-xs) var(--spacing-sm);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.settingButtonClose {
  position: absolute;
  bottom: 0;
  right: var(--spacing-sm);
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
