.iconButton {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 5px;
  margin: 10px auto;
  text-decoration-line: unset;
  background-color: var(--color-primary);
  border-radius: 10px;
}
.iconButton:hover {
  background-color: var(--color-secondary-dark);
}

.buttonShadow {
  box-shadow: 3px 3px 3px var(--color-primary-light);
}
.buttonShadow:active {
  transform: translate(3px, 3px);
  box-shadow: inset 3px 3px 3px var(--color-background-dark);
  background: var(--color-background);
}
.mainButton {
  border-radius: var(--border-radius-sm);
  margin: var(--spacing-sm) 0;
  border: none;
  cursor: pointer;
  color: var(--color-secondary);
  text-decoration: unset;
  display: inline-block;
}

.largeButton {
  padding: var(--spacing-md) var(--spacing-lg);
}
.middleButton {
  padding: var(--spacing-xs) var(--spacing-md);
}
.smallButton {
  padding: var(--spacing-xs);
}
.btn-main {
  background-color: var(--color-main);
}
.btn-danger {
  background-color: var(--color-danger);
}
.btn-warning {
  background-color: var(--color-warning);
}
.btn-success {
  background-color: var(--color-success);
}
.btn-secondary {
  background-color: var(--color-secondary);
}
.buttonText {
  color: var(--color-text-light);
}

.scrollButtonWrapper {
  position: absolute;
  z-index: 50;
  padding: 20px;
  border-radius: 9999px; /* rounded-full */
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dededecc;
  transition: none; /* ドラッグ中はアニメーションを無効にする */
  cursor: grab;
}

.dragging {
  cursor: grabbing;
}

.scrollButton {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 9999px; /* rounded-full */
  background-color: #4a90e2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: transform 0.2s;
  border: none;
}

.scrollButton:active {
  transform: scale(0.95);
}

.scrollButtonText {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.settingButton {
  text-decoration: none;
  border-radius: var(--border-radius-sm);
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-xs);
  padding: var(--spacing-xs) var(--spacing-sm);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.settingButtonClose {
  position: absolute;
  bottom: 0;
  right: var(--spacing-sm);
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
