.l_pagesContainer {
  background-color: #f5f5f5;
}
.l_container {
  width: 100%;
  height: auto;
  max-width: 1000px;
  margin: 0 auto;
}
.l_main {
  width: 100%;
  height: auto;
  max-width: 1000px;
  margin: 0 auto;
}

.absoluteBox {
  flex: 1;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #ffffff;
}

.scrollContainer {
  align-items: stretch; /* CSSでは通常 `align-items: stretch;` はデフォルトの動作です */
}

.sectionTitle {
  color: #5d4037;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}
/* タブレット用 */
@media screen and (min-width: 600px) {
}
/* PC用 */
@media screen and (min-width: 960px) {
}
