/*
-------------------共通スタイル--------------------
*/
.pageForm {
  display: contents;
}

.pageContents {
  width: 100%;
  max-width: 1200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.pageWrapper {
  display: flex;
}

/*
--------------------top page--------------------
*/
.scrollContainer {
  width: 100%;
  padding: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.pageTitleBox {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
--------------------home page--------------------
*/
.homePageContents {
  top: 0;
  bottom: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingPanel {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: var(--spacing-sm);
}

.settingPanelContent {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-sm);
  padding: var(--spacing-sm);
}

.settingPanelItem {
  margin: var(--spacing-sm) auto;
  text-align: center;
}

.settingPanelItem:last-child {
  text-align: right;
}

.settingButtonText {
  color: var(--color-text-light);
  font-size: var(--font-size-sm);
}

/*
--------------------list page--------------------
*/
.listPageContents {
  top: 80px;
}
/* 縦スクロールバーの幅を大きくする例 */
.listSpPageWrapper::-webkit-scrollbar {
  width: 12px; /* 通常のスクロールバーより太くする */
}

/* 横スクロールバーの高さを大きくする例 */
.listSpPageWrapper::-webkit-scrollbar {
  height: 12px; /* 通常のスクロールバーより高くする */
}
/* スクロールバー全体のスタイル */
.listSpPageWrapper::-webkit-scrollbar {
  width: 10px; /* スクロールバーの幅 */
  background-color: #f5f5f5; /* トラックの背景色 */
}

/* スクロールバーのつまみのスタイル */
.listSpPageWrapper::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary); /* つまみの色 */
  border-radius: 5px; /* つまみの角を丸くする */
}

.listSpPageWrapper {
  flex-direction: row;
  /* 親要素の幅をはみ出したらスクロール可能にする */
  overflow-x: auto;
  /* 子要素を横に並べる */
  display: flex;
  /* 子要素が親の幅に合わせて縮まないようにする */
  flex-shrink: 0;
  /* スクロールバーのデザインをカスタマイズ */
  /* Chrome, Safari, Edge */
  /* scrollbar-width: none; */
}

.listItemCard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
}

.listItemCard:nth-child(odd) {
  background-color: var(--color-background-light);
}

.listSpCard {
  width: fit-content;
  max-width: 350px;
  padding: 0 1rem;
  margin: 0 auto;
  flex-shrink: 0;
  margin-right: 15px;
}

.listItemLabel {
  color: var(--color-secondary-dark);
}

.listItemValue:not(.listItemImageBox):not(.listItemChartImageBox) {
  margin-left: 0.5rem;
}

.listItemImageBox {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.listItemTasting {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.listItemTasting .listItemValue {
  text-align: center;
}

.listItemTasting > *:not(.listItemOverall):not(.listItemChartImageBox) {
  flex: 1 1;
}

.listItemOverall {
  width: 100%;
}

.listItemChartImageBox {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.listItemChartImage {
  width: inherit;
}
/* -----スクロールボタンのコンテナ------ */
.listScrollButtons {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-md);
  gap: 8px;
}

/* ボタン自体のスタイル（新しいクラス名を追加） */
.listScrollButtons button {
  padding: var(--spacing-xs) var(--spacing-sm);

  border: 1px solid var(--color-background-light);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: var(--color-text-light);
  background-color: var(--color-secondary);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.listScrollButtons button:hover {
  background-color: var(--color-secondary-dark);
}
/* -----検索----- */
.listSearchArea {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  padding: var(--spacing-sm) 0;
  margin: 0 var(--spacing-xs);
  border-bottom: 1px solid var(--color-background-dark);
}

.listSearchArea input[type="text"] {
  width: 100%;
  max-width: 80%;
  padding: var(--spacing-xs) var(--spacing-sm);
  border: 1px solid var(--color-background-dark);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.listSearchArea input[type="text"]:focus {
  border-color: var(--color-main);
}
.listSearchArea label {
  display: contents;
}
/*
--------------------create page--------------------
*/
.createPageWrapper {
  flex-grow: 1;
  flex-direction: column;
}

.createPageContents {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  top: 80px;
}

/*
--------------------item page--------------------
*/
.itemPageContents {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  top: 80px;
}

/*
--------------------update page--------------------
*/
.updatePageContents {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  top: 80px;
}

/* タブレット用 */
@media screen and (min-width: 600px) {
}

/* PC用 */
@media screen and (min-width: 960px) {
  /*
--------------------list page--------------------
*/
  .listPageContents {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    top: 80px;
  }

  .listPcPageWrapper {
    flex-direction: column;
  }

  .listItemCard {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas:
      "coffeeBeans brewingRecipe tasting tasting"
      "memoArea memoArea memoArea memoArea";
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
  }

  .listPcCard {
    margin: 0 auto;
  }

  .listPcCard:last-child {
    border-top: 0.1px solid var(--color-background-dark);
    border-bottom: 0.1px solid var(--color-background-dark);
  }

  .listPcCard:not(:first-child, :last-child) {
    border-top: 0.1px solid var(--color-background-dark);
  }

  .listItemValue {
    margin-left: 0;
  }

  .listItemCoffeeBeans {
    grid-area: coffeeBeans;
    display: grid;
    grid-template-areas:
      "coffeeName coffeeName coffeeName coffeeName"
      "image variety variety variety"
      "image roastingDegree roastingDegree roastingDegree"
      "image productionArea productionArea productionArea";
    grid-template-columns: auto auto auto auto;
    gap: var(--spacing-xs);
  }

  .listItemCoffeeBeans > * {
    display: flex;
  }

  .listItemCoffeeBeans .listItemProductionArea {
    flex-direction: column;
  }

  .listItemImageBox {
    grid-area: image;
  }

  .listItemImage {
    width: 200px;
    height: auto;
  }

  .listItemCoffeeName {
    grid-area: coffeeName;
  }

  .listItemVariety {
    grid-area: variety;
  }

  .listItemProductionArea {
    grid-area: productionArea;
  }

  .listItemRoastingDegree {
    grid-area: roastingDegree;
  }

  .listItemBrewingRecipe {
    grid-area: brewingRecipe;
    display: grid;
    grid-template-areas:
      "exMethod exMethod exMethod exMethod"
      "exMaker exMaker exMaker exMaker"
      "measurementMethod measurementMethod exTime exTime"
      "coffeeAmount waterAmount grindSize temperature";
    grid-template-columns: auto auto auto auto;
    gap: var(--spacing-xs);
    align-items: center;
  }

  .listItemBrewingRecipe > * {
    display: flex;
    align-items: stretch;
  }

  .listItemBrewingRecipe .listItemExMethod,
  .listItemBrewingRecipe .listItemExMaker {
    flex-direction: row;
    justify-content: flex-start;
  }

  .listItemBrewingRecipe > *:not(.listItemExMethod):not(.listItemExMaker) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .listItemExMethod {
    grid-area: exMethod;
  }

  .listItemExMaker {
    grid-area: exMaker;
  }

  .listItemGrindSize {
    grid-area: grindSize;
  }

  .listItemTemperature {
    grid-area: temperature;
  }

  .listItemCoffeeAmount {
    grid-area: coffeeAmount;
  }

  .listItemWaterAmount {
    grid-area: waterAmount;
  }

  .listItemMeasurementMethod {
    grid-area: measurementMethod;
  }

  .listItemExTime {
    grid-area: exTime;
  }

  .listItemTasting {
    grid-area: tasting;
    display: grid;
    grid-template-areas:
      "acidity overall"
      "bitterness chartImage"
      "body chartImage"
      "aroma chartImage"
      "aftertaste chartImage";
    gap: var(--spacing-xs);
    justify-items: center;
    align-items: start;
  }

  .listItemTasting > * {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .listItemAcidity {
    grid-area: acidity;
  }

  .listItemBitterness {
    grid-area: bitterness;
  }

  .listItemBody {
    grid-area: body;
  }

  .listItemAroma {
    grid-area: aroma;
  }

  .listItemAftertaste {
    grid-area: aftertaste;
  }

  .listItemOverall {
    grid-area: overall;
  }

  .listItemOverall > .listItemValue {
    width: 50%;
  }

  .listItemChartImageBox {
    grid-area: chartImage;
    width: 200px;
    height: auto;
  }

  .listItemMemoArea {
    grid-area: memoArea;
  }
  .listSearchArea input[type="text"] {
    max-width: none;
    margin: 0 auto;
  }
}
