/*
* =============================================
* Normalize & Base Styles
* normalize.css のインポートと、HTML要素のベーススタイルを定義します。
* =============================================
*/
@import "normalize.css/normalize.css";

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  /* Colors */
  --color-primary: #6f4e37;
  --color-primary-dark: #4f3325; /* プライマリーカラーのシャドウ */
  --color-primary-light: #8e6d4c; /* プライマリーカラーのハイライト */

  --color-secondary: #d2b48c;
  --color-secondary-dark: #b2946c; /* セカンダリーカラーのシャドウ */
  --color-secondary-light: #f2d4ac; /* セカンダリーカラーのハイライト */

  --color-background: #f5f5f5;
  --color-background-dark: #e0e0e0; /* 背景色のシャドウ */

  --color-text-dark: #333;
  --color-text-light: #f5f5f5;

  /* 削除ボタンなど、注意を促すアクションに */
  --color-danger: #d9534f;

  /* ダウンロードや主要なアクションに */
  --color-main: #007bff;

  /* 編集など、警告や注意を促すアクションに */
  --color-warning: #f0ad4e;

  /* 保存など、成功や完了を表すアクションに */
  --color-success: #28a745;

  /* リセットなど、目立たせないサブアクションに */
  --color-subtle: #6c757d; /* 名前を 'color-subtle' に変更しました */
  /* Spacing */
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 20px;
  --spacing-lg: 30px;
  --spacing-xl: 60px;

  /* Font Sizes */
  /* スモール */
  --font-size-sm: 16px;

  /* ミディアム */
  --font-size-md: 20px;

  /* ラージ */
  --font-size-lg: 32px;

  /* エクストララージ */
  --font-size-xl: 48px;

  /* Border Radius */
  --border-radius-sm: 10px;

  /* Icon width */

  --icon-lg-width: 50px;
  --icon-md-width: 40px;
  --icon-sm-width: 30px;
}

/*
* =============================================
* Global Typography & Font Definitions
* 全体的なフォント設定とカスタムフォントを定義します。
* =============================================
*/
@font-face {
  font-family: "Caveat";
  src: url("/font/Caveat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: var(--font-size-sm);
  color: var(--color-text-dark);
  background-color: var(--color-background);
  min-height: 100vh;
  line-height: 1.5; /* 行間をより読みやすく調整 */
  overflow-x: hidden;
}

/*
* =============================================
* Global Elements
* リンクやボタンなど、HTMLの標準要素に対するグローバルなスタイルです。
* =============================================
*/
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

span {
  border-bottom: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
}
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
